

/*Image*/
#img1{
    width: 100px;
    height: 100px;
    border-radius:50%;

}
/*rgba(0, 0, 0, 0.5);*/



.text{
      background: rgba(0, 0, 0, 0.5);
      height: 250px;
      bottom: 0;
      position: absolute;
      width: 150%;
      margin-left:-10px;
}

table {
	width: 100%;
	height: 100%;
	padding-top: 250px;
	padding-right: 20px; 
}

.s2{

    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 30px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:50%;
    cursor:pointer;
    box-shadow: 0 9px gray;
    margin-left: 600px;


}
.s2:hover{
    background-color :black;
    color : green;
}

.s0{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 30px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:50%;
    cursor:pointer;
    box-shadow: 0 9px lightgreen;


}
.s0:hover{
	background-color :black;
	color : white;
}

.d1{
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    border-style: solid;
    margin-top: 10px;
    border-radius:10px;
    border-color: gold;
    padding-bottom: 10px;
}

#h1{
	margin-top: -300px;
	text-align: center;
	background-color: gold;
}

#result{
	background-color: gray;
    border: none;
    color: white;
    padding: 30px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:50%;
    cursor:pointer;
    box-shadow: 0 9px #999;
    margin-top:10px;
    margin-left: 45%; 
}
#result:hover{
	background-color :darkgreen;
	color : white;
}
#l1{
    padding-left: 300px;
    padding-right: 300px;

}
label{
    color:red;
    padding-top: 10px;
    padding-bottom: 10px;

}

#timer {
    text-align: center;
    padding-top: 20px;
    font-style: ;
    font-size : 100px;
}

.text{
    padding-left: 50px;
}